<script>
var controls = [];
var changes = [];
<% nist_tags = {} %>
<% @compare_hsh.each do |control_id, ct_hsh| %>
  controls['<%= control_id %>'] = [];
  <% symbols = [] %>
  <% @evaluations.each_with_index do |eval, index| %>
    controls['<%= control_id %>'][<%= index %>] = []
    <% if ct_hsh.key?(eval.id) %>
      <% hsh = ct_hsh[eval.id] %>
      <% control = hsh[:control] %>
      <% symbols << hsh[:status_symbol] %>
      <% nist_tags[control_id] = [] unless nist_tags.key?(control_id) %>
      <% nist_tags[control_id] += control.nist_tags %>
      controls['<%= control_id %>'][<%= index %>][0] = '<%= control.id %>';
      controls['<%= control_id %>'][<%= index %>][1] = '<%= control.profile_id %>';
      controls['<%= control_id %>'][<%= index %>][2] = '<%= eval.id %>';
    <% else %>
      controls['<%= control_id %>'][<%= index %>][0] = '-1';
    <% end %>
  <% end %>
  changes['<%= control_id %>'] = '<%= symbols.uniq.size > 1 %>';
<% end %>
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Evaluation Comparisons
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to "Back", :back %></li>
    <li class="active">Evaluation Comparisons</li>
  </ol>
</section>
<section class="content container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Profile Results</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Controls</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="col-xs-<%= @evaluations.size + 3 %>">
            <table id="controls" class="table table-hover">
              <thead>
                <tr>
                  <th>Control&nbsp;ID</th>
                  <th>NIST Refs</th>
                  <% @evaluations.each do |eval| %>
                    <th><%= "#{eval.profiles.map(&:name).join(', ')} - #{eval.start_time}" %></th>
                    <th class="hidden">Details</th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @compare_hsh.each do |control_id, ct_hsh| %>
                  <tr id="<%= control_id %>" onclick="show_details('<%= control_id %>');">
                    <td width="100"><%= control_id %></td>
                    <td><%= nist_tags[control_id].uniq.join(', ') %></td>
                    <% Rails.logger.debug "#{control_id}: #{ct_hsh.keys}" %>
                    <% @evaluations.each do |eval| %>
                      <% Rails.logger.debug "Has ID #{eval.id}: #{ct_hsh.key?(eval.id)}" %>
                      <% if ct_hsh.key?(eval.id) %>
                        <% hsh = ct_hsh[eval.id] %>
                        <% control = hsh[:control] %>
                        <% sym = hsh[:status_symbol] %>
                        <td width="110"><button title="<%= control_id %>" class="<%= status_btn(sym) %>" style="width:120px"><%= status_label(sym) %></button></td>
                        <td class="hidden"><%= control.code %></td>
                      <% else %>
                        <td width="110">&nbsp;</td>
                        <td class="hidden"></td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
<script>
var loaded = null;
var shown_id = null;
var filter_off = true;
var control_table;

$.fn.dataTableExt.afnFiltering.push(
  function( oSettings, aData, iDataIndex ) {
    if (filter_off) {
      return true;
    } else {
      if (changes[aData[0]] == 'false') {
        return false;
      } else {
        return true;
      }
    }
  }
);

document.addEventListener("turbolinks:load", function() {
  if (loaded) {
    return;
  } else {
    loaded = true;
  }

  if($( "[id^='controls_wrapper']" ).length == 0) {
    control_table = $('#controls').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    });
    divstr = 'Filter out Unchanged <input type="checkbox" name="filter" id="filter" onclick="filter_table()">';
    $('#controls_wrapper').children(":first").children(":first").append(divstr);
  }

  var columns = [['x'], ['Not a Finding'], ['Open'], ['Not Applicable'], ['Not Tested'], ['Not Reviewed']];
  <% @evaluations.each_with_index do |eval, index| %>
    columns[0].push(<%= index + 1 %>);
    columns[1].push(<%= eval.findings[:not_a_finding] %>);
    columns[2].push(<%= eval.findings[:open] %>);
    columns[3].push(<%= eval.findings[:not_applicable] %>);
    columns[4].push(<%= eval.findings[:not_tested] %>);
    columns[5].push(<%= eval.findings[:not_reviewed] %>);
  <% end %>

  var chart = c3.generate({
    data: {
        x : 'x',
        columns: columns,
        type: 'bar',
    },
    color: {
      pattern: ['#00a65a', '#dd4b39', '#00c0ef', '#8C8C8C', '#8C8C8C']
    },
    bar: {
        width: {
            ratio: 0.8 // this makes bar width 50% of length between ticks
        }
    },
    axis: {
        x: {
            type: 'category' // this is needed to load string x value
        }
    },
    bindto: '#chart'
  });

});

function filter_table() {
  if (filter_off == true)
    filter_off = false;
  else {
    filter_off = true;
  }
  control_table.draw();
}


function show_details(control_id) {
  if ($('#details_row').length) {
    $('#details_row').remove();
  }
  ct = controls[control_id];
  if (control_id != shown_id) {
    shown_id = control_id;
    if (ct) {
      details = [];
      for(var i=0, len=ct.length; i < len; i++) {
        ct_id = ct[i][0];
        if (ct_id == '-1') {
          details[i] = '';
        } else {
          profile_id = ct[i][1];
          evaluation_id = ct[i][2];
          url = "<%= root_path %>" + 'profiles/' + profile_id + '/controls/' + ct_id + '/details/evaluation/' + evaluation_id;
          $.ajax(url, {
              async: false,
              success: function(data) {
                details[i] = detailsData;
              },
              error: function() {
                console.log("Error occured");
              }
           });
        }
      }
    } else {
      shown_id = null;
    }

    tr_str = '<tr id="details_row" role="row"><td colspan=2> </td>';
    for(var i=0, len=details.length; i < len; i++) {
      tr_str += '<td style="min-width: 400px">' + details[i] + '</td>';
    }
    tr_str += '</tr>';
    hsh = "#" + control_id;
    var tr = $(hsh);
    tr.after(tr_str);
    Prism.highlightAll();
  }
}

</script>
