<section class="content-header">
  <h1>Profiles</h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li class="active">Profiles</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Profiles</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table id="profiles-datatable" class="table table-hover">
            <thead>
              <tr>
                <th>Name (Sha256)</th>
                <th>Title</th>
                <th>Maintainer</th>
                <th># of Evaluations</th>
                <th>License</th>
                <th>Summary</th>
                <th>Version</th>
                <th>Owner</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <% @profiles.each do |profile| %>
              <tr id="<%= profile.id %>">
                <td><%= link_to profile.name, '#', :onclick => 'show_results("' + profile.id.to_s + '")' %><br><span class="small-font grey-text">(<%= profile.sha256 %>)</span></td>
                <td><%= link_to profile.title, profile %></td>
                <td><%= profile.maintainer %></td>
                <td><button class="btn btn-info" style="width:120px" onclick="show_results('<%= profile.id %>');"><%= @eval_counts[profile.id] %></button></td>
                <td><%= profile.license %></td>
                <td><%= profile.summary %></td>
                <td><%= profile.version %></td>
                <td><%= profile.created_by.try(:email) %></td>
                <td>
                  <% if (can? :delete, profile) && (profile.is_editable?) %>
                    <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <% if can? :create, Profile %>
      <div class="col-xs-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Upload Profile</h3>
          </div>
          <div class="box-body">
            <%= form_tag(upload_profiles_path, multipart: true, :html => {class: 'form-control'}) do %>
              <div class="input-group">
                <%= file_field_tag :file, :class => "menu-text" %>
              </div>
              <br>
              <div class="actions">
                <%= submit_tag 'Upload', :class => "btn btn-info" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<!-- /.content -->
<script>
  var shown_id = null;

  jQuery(document).ready(function() {
    console.log("Hello");
    $('#profiles-datatable').dataTable({
      "iDisplayLength": 25,
      "processing": true,
      "serverSide": false,
      "pagingType": "full_numbers"
      // pagingType is optional, if you want full pagination controls.
      // Check dataTables documentation to learn more about
      // available options.
    });
  });

  function show_results(profile_id) {
    hsh = "#" + profile_id;
    url = '<%= root_path %>' + 'profiles/' + profile_id + '/results';
    var tr = $(hsh);
    if ($('#results_row').length) {
      $('#results_row').remove();
    }
    if (profile_id != shown_id) {
      shown_id = profile_id;
      $.ajax(url, {
          success: function(data) {
            tr.after('<tr id="results_row" role="row"><td colspan="9" id="profile_results">' + resultsData + '</td></tr>');
          },
          error: function() {
            console.log("Error occured");
          }
       });
     } else {
       shown_id = null;
     }
  }

</script>
