<section class="content-header">
  <h1>
    Repos
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to 'Repos', repos_path %></li>
    <li class="active">Repo</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary shown" id="repo_info">
        <div class="box-header with-border">
          <h3 class="box-title">Repo Information</h3>
          <% if can?(:manage, @repo) %>
            <%= link_to 'Destroy', @repo, method: :delete, class: "btn btn-danger pull-right", data: { confirm: 'Are you sure?' } %>
            <button type="button" id="edit_btn" class="btn btn-primary pull-right margin-right"><i class="fa fa-edit"></i> Edit</button>
          <% end %>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <strong>Name:</strong>
            <%= @repo.name %>
          </p>

          <p>
            <strong>API URL:</strong>
            <%= @repo.api_url %>
          </p>

          <p>
            <strong>Type:</strong>
            <%= @repo.repo_type %>
          </p>

          <p>
            <strong>Created By:</strong>
            <%= @repo.created_by.try(:email) %>
          </p>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <div class="box box-primary" id="edit_form", style="display:none;">
        <div class="box-body">
          <%= render 'form', repo: @repo %>
        </div>
      </div>
    </div>
    <!-- /.col 6 -->
    <div class="col-md-6">
      <div class="box box-primary shown" id="repo_cred_info">
        <div class="box-header with-border">
          <h3 class="box-title">Repo Credential</h3>
          <%= link_to 'Destroy', [@repo, @repo_cred], method: :delete, class: "btn btn-danger pull-right", data: { confirm: 'Are you sure?' } %>
          <button type="button" id="edit_cred_btn" class="btn btn-primary pull-right margin-right"><i class="fa fa-edit"></i> Edit
          </button>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <strong>Username:</strong>
            <%= @repo_cred.username %>
          </p>

          <p>
            <strong>Token:</strong>
            <%= @repo_cred.token %>
          </p>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <div class="box box-primary" id="repo_cred_edit_form", style="display:none;">
        <div class="box-body">
          <%= render 'repo_creds/form', repo_cred: @repo_cred, repo: @repo %>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col 6 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Repo Profiles</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>URL</th>
            </tr>

            <% @repo_projects.each do |project| %>
              <tr>
                <td><%= project[:name] %></td>
                <td><%= project[:description] %></td>
                <td><%= project[:html_url] %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- /.content -->
<script>
$(document).ready(function(){
  $("#edit_btn").click(function(){
    toggleSections("edit_form", "repo_info");
  });
  $("#edit_repo_cancel_btn").click(function(){
    toggleSections("repo_info", "edit_form");
  });
  $("#edit_cred_btn").click(function(){
    toggleSections("repo_cred_edit_form", "repo_cred_info");
  });
  $("#edit_cred_cancel_btn").click(function(){
    toggleSections("repo_cred_info", "repo_cred_edit_form");
  });
});
</script>
