<p id="notice"><%= notice %></p>

<h1>Repo Creds</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repo_creds.each do |repo_cred| %>
      <tr>
        <td><%= repo_cred.username %></td>
        <td><%= repo_cred.token %></td>
        <td><%= link_to 'Show', repo_cred %></td>
        <td><%= link_to 'Edit', edit_repo_cred_path(repo_cred) %></td>
        <td><%= link_to 'Destroy', repo_cred, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repo Cred', new_repo_cred_path, class: "btn btn-primary" %>
