<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Input
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to 'Profiles', profiles_path %></li>
    <li><%= link_to 'Profile', details_profile_path(@profile.id) %></li>
    <li class="active">Input</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Input Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <strong>Name:</strong>
            <%= @input.name %>
          </p>

          <p>
            <strong>Options:</strong>
            <%= @input.options %>
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
