<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Group
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to 'Profiles', profiles_path %></li>
    <li><%= link_to 'Profile', details_profile_path(@profile.id) %></li>
    <li class="active">Group</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary shown" id="show_form">
        <div class="box-header">
          <h3 class="box-title">Group Information</h3>
          </button>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <strong>Title:</strong>
            <%= @group.title %>
          </p>

          <p>
            <strong>Control ID:</strong>
            <%= @group.control_id %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Controls</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <ul>
              <% @group.controls.each do |control_id| %>
              <li>
                <%= control_id %>
              </li>
              <% end %>
            </ul>
          </p>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
