<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Group
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, home_path %></li>
    <li><%= link_to 'Profiles', profiles_path %></li>
    <li><%= link_to 'Profile', profile_path(@profile.id) %></li>
    <li class="active">Group</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Group Information</h3>
          <%= link_to 'Destroy', [@profile, @group], :method => :delete, class: "btn btn-danger pull-right", data: { confirm: 'Are you sure?' } %>
          <%= link_to ('<i class="fa fa-edit"></i> Edit').html_safe, edit_profile_group_path(@profile.id, @group), class: "btn btn-primary pull-right margin-right" %>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <strong>Title:</strong>
            <%= @group.title %>
          </p>

          <p>
            <strong>Controls:</strong>
            <%= @group.controls_list %>
          </p>

          <p>
            <strong>Control:</strong>
            <%= @group.control_id %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
