<section class="content-header">
  <h1>
    Profile
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li class="active">Profile</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="box box-primary">
      <!-- /.box-header -->
      <div class="col-xl-3 col-lg-4">
        <div class="text-center card-box">
          <div class="member-card">
            <div class="thumb-xl member-thumb m-b-10 center-block">
              <% if @user.image_url.present? %>
                <%= image_tag @user.image_url.to_s, class: "rounded-circle img-thumbnail"  %>
              <% else %>
                <%= image_tag "default_profile_pic.jpg", class: "rounded-circle img-thumbnail" %>
              <% end %>
                <!-- <img src="" class="rounded-circle img-thumbnail" alt="profile-image"> -->
            </div>
          </div>
        </div> <!-- end card-box -->
      </div> <!-- end col -->
      <div class="col-lg-8 col-xl-9">
        <div class="">
          <div class="card-box">
            <ul class="nav nav-tabs tabs-bordered">
              <li class="nav-item">
                <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link">
                  ABOUT ME
                </a>
              </li>
              <% if @user == current_user %>
                <li class="nav-item">
                  <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
                    SETTINGS
                  </a>
                </li>
              <% end %>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="home">
                <div id="show_user" style="display:block;">
                  <p class="m-b-5"></p>
                  <div class="m-t-30">
                    <p class="text-muted font-13"><strong>Email:</strong>  <span class="m-l-15"><%= @user.email %></span></p>
                    <p class="text-muted font-13"><strong>First Name:</strong>  <span class="m-l-15"><%= @user.first_name %></span></p>
                    <p class="text-muted font-13"><strong>Last Name:</strong>  <span class="m-l-15"><%= @user.last_name %></span></p>
                    <p class="text-muted font-13"><strong>Roles:</strong>  <span class="m-l-15"><%= @user.role_names.uniq.join(", ") %></span></p>
                    <p class="text-muted font-13"><strong>Circles:</strong>  <span class="m-l-15"><%= @user.my_circles.map(&:name).join(", ") %></span></p>
                    <p class="text-muted font-13"><strong>Account Type:</strong>  <span class="m-l-15"><%= @user._type %></span></p>
                    <p class="text-muted font-13"><strong>API Key:</strong>  <span class="m-l-15"><%= @user.api_key %></span></p>
                    <% if @user._type == 'DbUser' && @user == current_user %>
                      <p><button type="button" id="edit_btn" class="btn btn-primary margin-right"><i class="fa fa-edit"></i> Edit Profile</button></p>
                      <p class="text-muted font-13"><%= link_to "Change Password", edit_db_user_registration_path(@user), :class => "btn btn-primary margin-right" %></p>
                    <% end %>
                  </div>
                </div>
                <div id="edit_form" style="display:none;">
                  <%= form_for @user, as: :user, url: user_path(@user) do |f| %>
                    <div class="form-group">
                      <%= f.label :first_name %>
                      <%= f.text_field :first_name, id: :user_first_name, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :last_name %>
                      <%= f.text_field :last_name, id: :user_last_name, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <button type="button" id="cancel_btn" class="btn btn-primary pull-right">Cancel</button>
                      <%= button_tag(type: "submit", class: "btn btn-primary margin-right") do %>
                        <i class="fa fa-edit"></i> Submit
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="tab-pane" id="settings">
                <p class="m-b-5"></p>
                <h4>Upload Profile Image</h4>
                <div>
                  <%= form_for @user, as: :user, url: user_path(@user), :html => {:multipart => true} do |f| %>
                    <div class="form-group">
                      <%= f.file_field :image, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <label>
                        <%= f.check_box("rotate", {:id=> "rotate", :checked=>false}, 90.0, nil) %>
                        Rotate Image 90 degrees on upload
                      </label>
                    </div>
                    <div class="form-group">
                      <%= button_tag(type: "submit", class: "btn btn-primary margin-right") do %>
                        <i class="fa fa-edit"></i> Upload Image
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col -->
  </div>
</section>
<script>
$(document).ready(function(){
  $('.nav-tabs a[href="#home"]').tab('show');
  $("#edit_btn").click(function(){
    toggleSections("edit_form", "show_user");
  });
  $("#cancel_btn").click(function(){
    toggleSections("show_user", "edit_form");
  });
});
</script>
