<%= form_with(model: [ profile, control ], local: true) do |form| %>
  <div class="box-header">
    <h3 class="box-title">Editing Control</h3>
    <%= link_to ('<i class="fa fa-cancel"></i> Cancel').html_safe, profile_control_path(profile.id, control.id), class: "btn btn-info pull-right" %>
    <%= button_tag(type: "submit", class: "btn btn-primary pull-right margin-right", id: 'edit_btn') do %>
      <i class="fa fa-edit"></i> Save
    <% end %>
  </div>
  <div class="box-body">
    <% if control.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(control.errors.count, "error") %> prohibited this control from being saved:</h2>

        <ul>
        <% control.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="hidden">
      <%= form.label :code %>
      <%= form.text_area :code, id: :control_code, class: "form-control"  %>
    </div>

    <div id="editor" style="height: 600px;"><%= control.code %></div>
  </div>
<% end %>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/ruby");
    editor.getSession().on("change", function () {
      $('#control_code').val(editor.getSession().getValue());
    });
</script>
