<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#details">Details</a></li>
  <li onclick = test()><a data-toggle="tab" href="#inpec_code" >Inspec Code</a></li>
</ul>
<div class="tab-content">
  <div id="details" class="tab-pane fade in active">
    <table class="table table-bordered table-striped">
      <tr><td>Control:</td><td><%= @control.control_id %></td></tr>
      <tr><td>Title:</td><td><%= @control.title %></td></tr>
      <tr><td>Desc:</td><td><%= @control.desc %></td></tr>
      <tr><td>Severity:</td><td><%= @control.tag 'severity' %></td></tr>
      <tr><td>Impact:</td><td><%= @control.impact %></td></tr>
      <% if nist = @control.tag('nist') %>
        <tr><td>NIST Ref:</td><td><%= nist %></td></tr>
      <% end %>
      <% if check = @control.tag('check') %>
        <tr><td>Check Text:</td><td><%= check %></td></tr>
      <% end %>
      <% if fix = @control.tag('fix') %>
        <tr><td>Fix Text:</td><td><%= fix %></td></tr>
      <% end %>
    </table>
  </div>
<div id="inpec_code" class="tab-pane fade">
  <table class="table table-bordered table-striped">
    <tr>
      <td><pre><code class="language-ruby"><%= @control.code %></code></pre></td>
    </tr>
  </table>
</div>
