<ul class="nav nav-tabs">
  <% if @evaluation %>
    <li class="active"><a data-toggle="tab" href="#fdetails">Finding Details</a></li>
    <li><a data-toggle="tab" href="#details">Details</a></li>
  <% else %>
    <li class="active"><a data-toggle="tab" href="#details">Details</a></li>
  <% end %>
  <li onclick = test()><a data-toggle="tab" href="#inpec_code" >Inspec Code</a></li>
</ul>
<div class="tab-content">
  <% if @evaluation %>
    <div id="fdetails" class="tab-pane fade in active">
      <table class="table table-bordered table-striped">
        <tr><td colspan="3"><%= result_message(@evaluation.status_symbol(@control)) %>:<br><%= @control.desc %></td><tr>
        <% @evaluation.control_results(@control.control_id).each do |result| %>
          <tr>
            <td><%= result.status.upcase %></td>
            <td>Test: <%= result.code_desc %></td>
            <td><% if result.message %>Message: <%= result.message %><% end %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div id="details" class="tab-pane fade">
  <% else %>
  <div id="details" class="tab-pane fade in active">
  <% end %>
    <table class="table table-bordered table-striped">
      <tr><td>Control:</td><td><%= @control.control_id %></td></tr>
      <tr><td>Title:</td><td><%= @control.title %></td></tr>
      <tr><td>Desc:</td><td><%= @control.desc %></td></tr>
      <tr><td>Severity:</td><td><%= @control.tag 'severity' %></td></tr>
      <tr><td>Impact:</td><td><%= @control.impact %></td></tr>
      <% if nist = @control.tag('nist') %>
        <tr><td>NIST Ref:</td><td><%= nist %></td></tr>
      <% end %>
      <% if check = @control.tag('check') %>
        <tr><td>Check Text:</td><td><%= check %></td></tr>
      <% end %>
      <% if fix = @control.tag('fix') %>
        <tr><td>Fix Text:</td><td><%= fix %></td></tr>
      <% end %>
    </table>
  </div>
  <div id="inpec_code" class="tab-pane fade">
    <table class="table table-bordered table-striped">
      <tr>
        <td><pre><code class="language-ruby"><%= @control.code %></code></pre></td>
      </tr>
    </table>
  </div>
</div>
