<div class="content">
  <ul class="nav nav-tabs">
    <% if @evaluation %>
      <li class="active"><a data-toggle="tab" href="#fdetails-<%= @evaluation.id %>-<%= control.id %>">Test Details</a></li>
      <li><a data-toggle="tab" href="#details-<%= @evaluation.id %>-<%= control.id %>">Details</a></li>
    <% else %>
      <li class="active"><a data-toggle="tab" href="#details-<%= @evaluation.id %>-<%= control.id %>">Details</a></li>
    <% end %>
    <li><a data-toggle="tab" href="#inspec_code-<%= @evaluation.id %>-<%= control.id %>" >Inspec Code</a></li>
  </ul>
  <div class="tab-content">
    <% if @evaluation %>
      <div id="fdetails-<%= @evaluation.id %>-<%= control.id %>" class="tab-pane fade in active">
        <table class="table table-bordered table-striped">
          <% status_symbol = @evaluation.status_symbol(control, control.results) %>
          <tr><td colspan="3"><%= result_message(status_symbol) %>:<br><%= control.desc %></td><tr>
          <% control.results.where(evaluation_id: @evaluation.id).each do |result| %>
            <tr>
              <td>
                <% if result.backtrace.present? %>ERROR<% else %><%= result.status.upcase %><% end %></td>
              <td style="max-width:300px; word-wrap:break-word">Test: <%= result.code_desc %></td>
              <td style="max-width:300px; word-wrap:break-word">
                <% if result.message %>Message: <%= result.message %><% end %>
                <% if result.exception %><br>Exception: <%= result.exception %><% end %>
              </td>
            </tr>
          <% end %>
          <% if status_symbol == :profile_error && control.results.empty? %>
            <tr>
              <td>This test produced no results. Check the code for missing conditions</td>
            </tr>
          <% end %>
        </table>
      </div>
      <div id="details-<%= @evaluation.id %>-<%= control.id %>" class="tab-pane fade">
    <% else %>
      <div id="details-<%= @evaluation.id %>-<%= control.id %>" class="tab-pane fade in active">
    <% end %>
      <table class="table table-bordered table-striped">
        <tr><td>Control:</td><td><%= control.control_id %></td></tr>
        <tr><td>Title:</td><td><%= control.title %></td></tr>
        <% if control.descriptions.present? %>
          <tr><td>Descriptions:</td>
            <td><ul>
              <% control.descriptions.each do |desc| %>
                <li><%= desc.label %>: <%= desc.data %></li>
              <% end %>
            </ul></td>
          </tr>
        <% else %>
          <tr><td>Desc:</td><td><%= control.desc %></td></tr>
        <% end %>
        <tr><td>Impact:</td><td><%= control.impact %></td></tr>
        <% if nist = control.tag('nist') %>
          <tr><td>NIST Ref:</td><td><%= nist %></td></tr>
        <% end %>
        <% if check = control.tag('check') %>
          <tr><td>Check Text:</td><td><%= check %></td></tr>
        <% end %>
        <% if fix = control.tag('fix') %>
          <tr><td>Fix Text:</td><td><%= fix %></td></tr>
        <% end %>
        <% if control.waiver_data.present? %>
          <tr><td>Waiver Data:</td><td><%= control.waiver_data %></td></tr>
        <% end %>
      </table>
    </div>
    <div id="inspec_code-<%= @evaluation.id %>-<%= control.id %>" class="tab-pane fade">
      <table class="table table-bordered table-striped">
        <tr>
          <td><pre><code class="language-ruby"><%= @evaluation.control_code(control) %></code></pre></td>
        </tr>
      </table>
    </div>
  </div>
</div>
