<!-- Content Header (Page header) -->
<section class="content-header">
  <p id="notice"><%= notice %></p>
  <h1>
    Controls
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Impact</th>
      <th>Refs</th>
      <th>ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controls.each do |control| %>
      <tr>
        <td><%= control.title %></td>
        <td><%= control.desc %></td>
        <td><%= control.impact %></td>
        <td><%= control.refs_list %></td>
        <td><%= control.control_id %></td>
        <td><%= link_to 'Show', control %></td>
        <td><%= link_to 'Edit', edit_control_path(control) %></td>
        <td><%= link_to 'Destroy', control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Control', new_control_path %>
</section>
