<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Result
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to "Evaluation", @evaluation %></li>
    <li><%= link_to "Results", evaluation_results_path(@evaluation) %></li>
    <li class="active">Result</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Result Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <strong>Status:</strong>
            <%= @result.status %>
          </p>

          <p>
            <strong>Code desc:</strong>
            <%= @result.code_desc %>
          </p>

          <p>
            <strong>Skip message:</strong>
            <%= @result.skip_message %>
          </p>

          <p>
            <strong>Resource:</strong>
            <%= @result.resource %>
          </p>

          <p>
            <strong>Run time:</strong>
            <%= @result.run_time %>
          </p>

          <p>
            <strong>Start time:</strong>
            <%= @result.start_time %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
