<p id="notice"><%= notice %></p>

<h1>Depends</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depends.each do |depend| %>
      <tr>
        <td><%= depend.name %></td>
        <td><%= depend.path %></td>
        <td><%= link_to 'Show', depend %></td>
        <td><%= link_to 'Edit', edit_depend_path(depend) %></td>
        <td><%= link_to 'Destroy', depend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Depend', new_depend_path %>
