<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @depend.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @depend.path %>
</p>

<%= link_to 'Edit', edit_profile_depend_path(@profile.id, @depend) %> |
<%= link_to 'Back', profile_path(@profile.id) %>
