<%= form_with(model: [ profile, support ], local: true) do |form| %>
  <% if support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
      <% support.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :profile_id, :value => profile.id, :name =>"profile_id" %>

  <div class="form-group">
    <%= form.label :os_family, "OS Family" %>
    <%= form.text_field :os_family, id: :support_os_family, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
      <i class="fa fa-edit"></i> Save
    <% end %>
    <button type="reset" id="support_cancel_btn" class="btn btn-info pull-right">
      <i class="fa fa-cancel"></i> Cancel
    </button>
  </div>
<% end %>
