<p id="notice"><%= notice %></p>

<h1>Supports</h1>

<table>
  <thead>
    <tr>
      <th>OS Family</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supports.each do |support| %>
      <tr>
        <td><%= support.os_family %></td>
        <td><%= link_to 'Show', support %></td>
        <td><%= link_to 'Edit', edit_support_path(support) %></td>
        <td><%= link_to 'Destroy', support, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
