<section class="content-header">
  <h1>
    Filter
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to 'Filters', filters_path %></li>
    <li class="active">Filter</li>
  </ol>
</section>

<section class="content container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Filter</h3>
        </div>
        <!-- /.box-header -->
        <% if can? :read, Filter %>
          <div class="box-body">
            <p>
              <strong>Family:</strong>
              <%= @filter.family %>
            </p>

            <p>
              <strong>Number:</strong>
              <%= @filter.number %>
            </p>

            <p>
              <strong>Part:</strong>
              <%= @filter.sub_fam %>
            </p>

            <p>
              <strong>Sub-Part:</strong>
              <%= @filter.sub_num %>
            </p>

            <p>
              <strong>Enhancement:</strong>
              <%= @filter.enhancement %>
            </p>

            <p>
              <strong>Part:</strong>
              <%= @filter.enh_sub_fam %>
            </p>

            <p>
              <strong>Sub-Part:</strong>
              <%= @filter.enh_sub_num %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="box-body">
      <%= link_to 'Edit', edit_filter_path(@filter), class: "btn btn-info" %>
    </div>
  </div>
</section>
