<%= form_with(model: [ profile, profile_attribute ], local: true) do |form| %>
  <% if profile_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile_attribute.errors.count, "error") %> prohibited this profile_attribute from being saved:</h2>

      <ul>
      <% profile_attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :profile_attribute_name, class: "form-control"%>
  </div>

  <h3>Options</h3>
  <div class="form-group input-group">
    <div class="form-group">
      <%= form.label :option_description %>
      <%= form.text_field :option_description, id: :profile_attribute_option_description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :option_default %>
      <%= form.text_field :option_default_list, id: :profile_attribute_option_default, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
      <i class="fa fa-edit"></i> Save
    <% end %>
    <%= link_to ('<i class="fa fa-cancel"></i> Cancel').html_safe, edit_profile_path(profile.id), class: "btn btn-info pull-right" %>
  </div>
  </div>
<% end %>
