<p id="notice"><%= notice %></p>

<h1>Profile Attributes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Option description</th>
      <th>Option default</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_attributes.each do |profile_attribute| %>
      <tr>
        <td><%= profile_attribute.name %></td>
        <td><%= profile_attribute.option_description %></td>
        <td><%= profile_attribute.option_default %></td>
        <td><%= link_to 'Show', profile_attribute %></td>
        <td><%= link_to 'Edit', edit_profile_attribute_path(profile_attribute) %></td>
        <td><%= link_to 'Destroy', profile_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile Attribute', new_profile_attribute_path %>
