<style>
.c3-line {
    stroke-width: 5px;
}
</style>

<% if can? :create, Evaluation %>
  <%= render :partial => 'evaluations/upload_modal', :locals => { :circle => @circle } %>
<% end %>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= link_to @circle.name, edit_circle_path(@circle) %>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to 'Circles', circles_path %></li>
    <li class="active">Circle</li>
  </ol>
</section>

</section>
<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua", id="eval_info">
        <div class="inner">
          <h3><%= @circle.evaluations.count %></h3>

          <p>Evaluations</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
      </div>
      <% if can? :create, Evaluation %>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Upload Evaluation to Circle</button>
      <% end %>

    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green", id="profile_info">
        <div class="inner">
          <h3><%= @circle.profiles.count %></h3>

          <p>Profiles</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-folder"></i>
        </div>

      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <% owners = User.with_role(:owner, @circle) %>
          <% members = User.with_role(:member, @circle) %>
          <h3><%= owners.count + members.count %></h3>

          <p>Members</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <h2>Testing Timeline</h2>
  <div class="row">
    <div class="col-xs-12">
      <div id="chart"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="chart2"></div>
    </div>
  </div>
  <h2>Evaluations</h2>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <%= form_for :evaluation, url: evaluations_compare_path do |form| %>
          <table class="table table-hover">
            <tr>
              <th>Profiles</th>
              <th>Start Time</th>
              <th>Duration</th>
              <th>InSpec Version</th>
              <th>Platform Name</th>
              <th>Platform Release</th>
              <th>Compliance</th>
              <th>Compare</th>
              <th>Owner</th>
              <th></th>
            </tr>

            <% @circle.evaluations.each_with_index do |evaluation, index| %>
              <tr>
                <td><%= index + 1 %>: <%= link_to evaluation.profiles.map(&:name).join(', '), evaluation %></td>
                <td><%= evaluation.start_time %></td>
                <td><%= evaluation.statistics[:duration] %></td>
                <td><%= evaluation.version %></td>
                <td><%= evaluation.platform[:name] %></td>
                <td><%= evaluation.platform[:release] %></td>
                <td>
                  <table id="message_counts" class="cn-msg-table">
                    <tr>
                      <td><div class="cn-msg-bar bg-green" data-status="0" style="width: <%= pass_pixels(evaluation.findings) %>px"></div></td>
                      <td><div class="cn-msg-bar bg-red" data-status="3" style="width: <%= fail_pixels(evaluation.findings) %>px"></div></td>
                    </tr>
                  </table>
                </td>
                <td>
                  <div class="checkbox">
                    <label>
                      <%= form.check_box 'eval_ids', {:checked=>false, :multiple => true}, evaluation.id, nil %>
                    </label>
                  </div>
                </td>
                <td><%= evaluation.created_by.try(:email) %></td>
                <td><% if can? :delete, evaluation %><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan='7'></td>
              <td>
                <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                  <i class="fa fa-edit"></i> Compare
                <% end %>
              </td>
              <td colspan='2'></td>
            </tr>
          </table>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <h2>
    Timeline
  </h2>
  <div class="row">
    <ul class="timeline">
      <% @recents.each do |tm, items| %>
        <!-- timeline time label -->
        <li class="time-label">
            <span class="bg-red">
                <%= tm %>
            </span>
        </li>
        <!-- /.timeline-label -->

        <% items.each do |item| %>
          <!-- timeline item -->
        <% item_class = item.class %>
        <% item_class = User if [DbUser, LdapUser].include?(item.class) %>
          <!-- timeline item -->
          <li>
              <!-- timeline icon -->
              <i class="fa <%= icon(item_class) %> bg-blue"></i>
              <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i><%= item.created_at.strftime('%H:%M:%S') %></span>

                  <h3 class="timeline-header"><%= item.class %> Added<% unless item_class == User  %> by <%=item.created_by.try(:email) %><% end %></h3>

                  <div class="timeline-body">
                    <% if item_class == Evaluation %>
                      Profiles: <%= item.profiles.map(&:name).join(', ') %>, Platform: <%= item.platform[:name] %>
                    <% elsif item_class == Profile %>
                      Name: <%= item.name %>, Title: <%= item.title %>, Version: <%= item.version %>
                    <% elsif item_class == User %>
                      Email: <%= item.email %>, Roles: <%= item.role_names.join(", ") %>
                    <% end %>
                  </div>

              </div>
          </li>
          <!-- END timeline item -->
        <% end %>
      <% end %>

    </ul>
  </div>
</section>
<!-- /.content -->
<script>
$(document).ready(function() {
  $("#upload_eval_btn").click(function(event) {
    event.preventDefault(); // Prevent link from following its href
    toggleSections("upload_eval_form", "eval_info");
  });
  $("#cancel_eval_btn").click(function() {
    toggleSections("eval_info", "upload_eval_form");
  });
  $("#upload_profile_btn").click(function(event) {
    event.preventDefault(); // Prevent link from following its href
    toggleSections("upload_profile_form", "profile_info");
  });
  $("#cancel_profile_btn").click(function() {
    toggleSections("profile_info", "upload_profile_form");
  });

  var columns = [['x'], ['Passed'], ['Failed'], ['Not Applicable'], ['Profile Error'], ['Not Reviewed']];
  <% @circle.evaluations.each_with_index do |eval, index| %>
    columns[0].push(<%= index + 1 %>);
    columns[1].push(<%= eval.findings[:passed] %>);
    columns[2].push(<%= eval.findings[:failed] %>);
    columns[3].push(<%= eval.findings[:not_applicable] %>);
    columns[4].push(<%= eval.findings[:not_tested] || eval.findings[:profile_error] %>);
    columns[5].push(<%= eval.findings[:not_reviewed] %>);
  <% end %>

  var chart = c3.generate({
    data: {
      x: 'x',
      columns: columns
    },
    color: {
      pattern: ['#00a65a', '#dd4b39', '#00c0ef', '#8C8C8C', '#8C8C8C']
    }
  });

  var chart2 = c3.generate({
    size: {
        height: 400
    },
    data: {
        x : 'x',
        columns: columns,
        type: 'bar',
        labels: true
    },
    color: {
      pattern: ['#00a65a', '#dd4b39', '#00c0ef', '#8C8C8C', '#8C8C8C']
    },
    grid: {
        x: {
            show: true
        },
        y: {
            show: true
        }
    },
    bar: {
        width: {
            ratio: 0.8 // this makes bar width 50% of length between ticks
        }
    },
    axis: {
        x: {
            type: 'category' // this is needed to load string x value
        }
    },
    bindto: '#chart2'
  });
});
</script>
