<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="\"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
            <a href="#" ><i class="fa fa-sitemap fa-fw"></i> Loaded Results<span class="fa arrow"></span></a>
            <ul id='results_list' class="nav nav-second-level" >
            </ul>
        </li>
        <li  >
            <a href="#" ><i class="fa fa-sitemap fa-fw"></i> Profiles<span class="fa arrow"></span></a>
            <ul id='profile_list' class="nav nav-second-level" >
              <li><%= link_to "Profiles", profiles_path %></li>
            </ul>
        </li>
        <li  >
            <a href="#" ><i class="fa fa-sitemap fa-fw"></i> Loaded Profiles<span class="fa arrow"></span></a>
            <ul id='profile_list' class="nav nav-second-level" >
            </ul>
        </li>
        <li  >
          <a href="#" ><i class="fa fa-sitemap fa-fw"></i> Load Json<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level" >
              <li>
                <div class="panel panel-default">
                    <div class="panel-body">
                      <%= form_tag(upload_profile_path, multipart: true) do %>
                        <div class="field">
                          <%= label_tag :file %>
                          <%= file_field_tag :file %>
                        </div>
                        <div class="actions">
                          <%= submit_tag 'Upload', :class => "col-xs-12 btn btn-info" %>
                        </div>
                      <% end %>
                    </div>
                </div>
              </li>
          </ul>

      </li>
    </ul>
</div>
