<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->

    <!-- search form (Optional) -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Dashboard</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="treeview">
        <a href=""><i class="fa fa-link"></i> <span>Profiles</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><%= link_to "All Profiles", profiles_path %></li>
          <li>
            <div class="panel panel-default">
              <div class="panel-body">
                <%= form_tag(upload_profile_path, multipart: true) do %>
                  <div class="field">
                    <%= label_tag :file %>
                    <%= file_field_tag :file %>
                  </div>
                  <div class="actions">
                    <%= submit_tag 'Upload', :class => "col-xs-12 btn btn-info" %>
                  </div>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href=""><i class="fa fa-link"></i> <span>Evaluations</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><%= link_to "All Evaluations", evaluations_path %></li>
          <li>
            <div class="panel panel-default">
              <div class="panel-body">
                <%= form_tag(upload_evaluation_path, multipart: true) do %>
                  <div class="field">
                    <%= label_tag :file %>
                    <%= file_field_tag :file %>
                  </div>
                  <div class="actions">
                    <%= submit_tag 'Upload', :class => "col-xs-12 btn btn-info" %>
                  </div>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
<div class="control-sidebar-bg"></div>
