<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper">
        <!-- Navigation -->
        <%= render :partial => 'layouts/navigation' %>
        <div id="page-wrapper">
          <div class="container-fluid">
            <% flash.each do |key, value| %>
              <div id="flash" class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
  </body>
</html>
