<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="fixed hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <%= render :partial => 'layouts/header' %>
      <!-- Left side column. contains the logo and sidebar -->
      <%= render :partial => 'layouts/sidebar' %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <% flash.each do |key, value| %>
          <div id="flash" class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Version:
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 <a href="#">MITRE</a>.</strong> All rights reserved.
      </footer>
    </div>
    <!-- ./wrapper -->
  </body>
</html>
