<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition skin-blue layout-top-nav">
    <%= favicon_link_tag asset_path('logo_yH1_icon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <div class="wrapper">

      <!-- Main Header -->
      <%= render :partial => 'layouts/header' %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class='content'>
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %> fade in alert-dismissible">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <%= value %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Version: <%= Git::VERSION %>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 <a href="#">MITRE</a>.</strong> All rights reserved.
      </footer>
    </div>
    <!-- ./wrapper -->
  </body>
</html>
